.container {
    margin-top: 20px;
    margin-left: 200px;       
    margin-right: 200px;
}

@media (max-width: 500px) {
    .container {
        margin-top: 5px;
        margin-left: 0px;       
        margin-right: 0px;     
    }
}

@media (max-width: 1000px) and (min-width: 500px) {
    .container {
        margin-top: 10px;
        margin-left: 20px;       
        margin-right: 20px;     
    }
}

@media (max-width: 1500px) and (min-width: 1000px) {
    .container {
        margin-top: 10px;
        margin-left: 20px;       
        margin-right: 20px;
    }
}