<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-title>KO3AK</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><a routerLink="shop" class="nav-link">Товари</a></ion-item>
        <ion-item><a routerLink="rent" class="nav-link">Оренда</a></ion-item>
        <ion-item><a routerLink="shop" class="nav-link">Ремонт</a></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
