<ion-app class="app">
  <ion-header class="header">
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{ item?.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-img class="image" [src]="item?.img"></ion-img>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="info">
          <div class="name">
            <strong>{{ item?.name }}</strong>
          </div>
          <div class="cost">
            {{ item?.cost }}
          </div>
        </div>
        <div class="buttons">
          <ion-button color="success">purchase</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>